ul {
    font-family: monospace;
    text-align: center;
	list-style-type: none;
    border-radius: 25px;
	margin-left: auto;
    margin-right: auto;
	padding: 0;
	width: 25%;
	background-color: azure;
    border-style: solid;
}

li a {
	display: block;
    border-radius: 25px;
	color: #000;
	padding: 10px 25px;
	text-decoration: none;
}

li a:hover {
    border-radius: 25px;
	background-color: #555;
	color: white;
}



body {
	background-image: url("backgroundImage.jpg");
	backgroung-color: #cccccc;
}

p {
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    background-color: azure;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    font-family: monospace;
    padding: 10px;
}

h1 {
    font-family: monospace;
    text-align: center;
    border-radius: 25px;
    border-style: solid;
    background-color: azure;
}

h2 {
    border-radius: 25px;
    border-style: solid;
    background-color: azure;
    font-family: monospace;
    text-align: center;
}

h3 {
    border-radius: 25px;
    border-style: solid;
    font-family: monospace;
    text-align: center;
    background-color: azure;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

#myFace {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}